{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/js/custom/messages.js')}}"></script>
{% endblock%}
{% block content %}
    <div class="container">
        <div class="col-lg-12 box-default">
            <h1 class="box-header">Mensajeria privada</h1>

            <div class="col-lg-6 form-private-message">
                <h4>Enviar nuevo mensaje privado</h4>
                {{ form_start(form, {'action':'', 'method': 'POST', 'enctype': 'multipart/form-data'}) }}
                {{ form_end(form) }}
                <br />
                <a href="{{ path('private_message_sended') }}" class="btn btn-warning bnt-enviados">Ver mensajes enviados</a>
            </div>
            {% include 'private_messages_part.html.twig'  %}
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}